.header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: map-get($colors, "white");
  height: 87px;
  border-bottom: 1px solid #D9FFF5;
  padding: 0 16px;

  @media (min-width: map-get($screen, "desktop-small")) {
    height: 0;

  }

  &__logo{
    margin-left: 16px;

      @media  (min-width: map-get($screen, "pad")){
        margin-left: 40px;
      }

      @media (min-width: map-get($screen, "desktop-small")) {
        display: none;
      }
  }

  &__contacts-list {
    display: none;
    padding: 0;

      @media  (min-width: map-get($screen, "pad")){
        display: flex;
        margin-left: auto;
      }

      @media (min-width: map-get($screen, "desktop-small")) {
        display: none;
      }
  }

  &__services-list {
    position: relative;
    display: flex;
    padding: 0;
    margin-left: auto;

      @media  (min-width: map-get($screen, "pad")){
        margin-left: 16px;
      }

      @media (min-width: map-get($screen, "desktop-small")) {
        position: absolute;
        top: 28px;
        right: 32px;
      }

       &::before{
      content: "";
      background-color: #EAEAEA;
      border: 1px solid #EAEAEA;
      height: 32px;
      width: 2px;
      border-radius: 1px;
      position: absolute;
      top: 5px;
      @media (min-width: map-get($screen, "desktop-small")) {
        display: none;
      }
    }

  }



  &__burger-button{
    position: relative;

      @media (min-width: map-get($screen, "desktop-small")) {
        display: none;
      }

    &:hover::after{
      transform: translateX(-20px) scale(0) rotate(180deg);
     transition: 0.5s;

    }

      &::after{
        content: "";
        background-color: #EAEAEA;
        border: 1px solid #EAEAEA;
        height: 32px;
        width: 2px;
        border-radius: 1px;
        position: absolute;
        top: 5px;
        display: none;
        visibility: hidden;
        transition: 0.5s;

            @media  (min-width: map-get($screen, "pad")){
              display: block;
              visibility: visible;
              left: 65px;
            }

      }

  }

}


