.main-footer{
  min-height: 147px;
  color: map-get($colors, "grey");
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #D9FFF5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

      @media (min-width: map-get($screen, "pad")) {
      flex-direction: row;
      min-height: 105px;
      align-items: center;
      padding: 32px 24px;
      }

      @media (min-width: map-get($screen, "desktop-small")) {
        margin-left: 360px;
      padding: 32px 23px;
      }

      @media (min-width: map-get($screen, "desktop-big")) {
        padding: 32px 42px 25px;
      }




      &__trademark{
      display: flex;
      width: 218px;
      height: 32px;
      flex-wrap: wrap;

      vertical-align: center;
      flex-direction: column;

      @media(min-width: map-get($screen, "pad")) {

      flex-direction: column;

      }
      }

    &__span{

          @media(min-width: map-get($screen, "pad")) {
            padding: 0 5px 0 5px;
            margin-right: auto;
            justify-content: left;
          }
        }

      &__politic{
      display: flex;


      @media(min-width: map-get($screen, "pad")) {
        align-self: center;
        margin: 0 auto;
      }

      }

  &__link {
    color: map-get($colors, "grey");

    &:last-child{
      @media (min-width: map-get($screen, pad)) {
        margin: 0 auto 12px 0;
      }
    }


  }

      &__ofert{
      display: flex;


      @media(min-width: map-get($screen, "pad")) {
      flex-direction: column;
      flex-width: wrap;
      width: 213px;
      height: 48px;
      text-align: right;
      }
        @media(min-width: 1400px) {

          flex-direction: column;
          flex-width: wrap;
          width: 330px;
          height: 32px;
          text-align: right;
        }
      }

}


