.main{

  @media (min-width: map-get($screen, "pad")) {
    margin-bottom: 47px;
  }
  @media (min-width: map-get($screen, "desktop-small")) {
    margin-left: 360px;
  }
  @media (min-width: map-get($screen, "desktop-big")) {
    margin-bottom: 50px;
        margin-bottom: 40px;
  }
  &__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

      @media (min-width:  map-get($screen, "desktop-small")) {
        //margin-top: 18px;
      }
  }
  &__title{
    position: relative;
    margin-top: 24px;
    margin-bottom: 0;

      @media (min-width: 1400px) {

        min-width: 120px;
      }

  }
  &__navigation{
    overflow-x: auto;
      @media (min-width:  map-get($screen, "desktop-small")) {
        height: 120px;
        overflow-x: hidden;
      }
    @media (min-width: 1400px) {
      height: auto;

    }
    @media (min-width: 1906px) {
      margin: 100px auto 0 0;
      position: relative;
      left: -250px;

    }
      &::after{
        content: "";
        background:  linear-gradient(270deg, map-get($colors, "white-grey") 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        height: 40px;
        width: 24px;
        position: absolute;
        right: 0;
        top: 175px;

        @media  (min-width: map-get($screen, "pad")){
          top: 180px;
        }
      }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;

      @media  (min-width: map-get($screen, "pad")){
        display: flex;
        flex-direction: row;
      }

        @media (min-width:  map-get($screen, "desktop-small")) {
          margin-top: 0;
        }
  }







}



















