.navigation{



    &::after {
    @media (min-width:  map-get($screen, "desktop-small")) {
      display: none;
    }
  }

    &__list{
      display: flex;
      margin: 24px 0 24px 16px;
      flex-wrap: nowrap;

          @media  (min-width: map-get($screen, "pad")){
            margin: 32px 0 32px 24px;
          }

          @media (min-width:  map-get($screen, "desktop-small")) {
            flex-wrap: wrap;
            align-content: space-between;
            margin: 9px 0 0 32px;
          }



      }

      &__item:last-child{
        margin-right: 24px;
      }
    &__item{
      color: map-get($colors, "grey");
      margin-right: 5px;

        @media (min-width:  map-get($screen, "desktop-small")) {
          margin-bottom: 14px;
        }
    }


    &__link{
      padding: 8px 10px 8px 16.54px;
      white-space: nowrap;
      border: 2px solid map-get($colors, "white-grey");
      display: block;

          @media  (min-width: map-get($screen, "pad")){
            padding: 8px 9.38px 8px 16.57px;
          }

          @media (min-width:  map-get($screen, "desktop-small")) {
            padding: 8px 22px 7px 23px;
          }
          &--active,
          &:hover{
            background: map-get($colors, "white");
            border-color: #B8FFEC;
            border-radius: 6px;
            cursor: pointer;
          }
    }





}
