.overlay{
  background-color: map-get($colors, "white");
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;



}

.overlay--menu{
  z-index: 300;
  @media ( map-get($screen, 'desktop-big')) {
    display: none;
  }
}
.overlay--modal{
  z-index: 900;
}


.overlay--active{
  display: block;
 }
