/**price***/

.price{

  &__header{
    display: none;
    color: map-get($colors, "grey");

    @media (min-width: map-get($screen, "pad")) {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns:  53% 7% 18%;
      margin-bottom: 16px;
      padding-left: 15px;
    }
    @media (min-width: map-get($screen, "desktop-big")) {
      grid-template-columns: 49% 12% 20%;
      padding-left: 15px;
    }
    @media (min-width: 1700px) {
      grid-template-columns: 54.4% 1% 31%;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media (min-width: map-get($screen, "pad")) {
      flex-direction: column;
    }
  }

  &__item {
    background: map-get($colors, "white");
    border: none;
    border-radius: 6px;
    max-width: 260px;
    max-height: 200px;
    min-width: 260px;
    min-height: 200px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: relative;
    flex-shrink: 1;
    @media (min-width: map-get($screen, "pad")) {
      display: grid;
      border-radius: 0;
      grid-auto-flow: column;
      grid-template-columns:  53% 15% 20%;
      max-width: none;
      max-height: none;
      min-width: 100%;
      min-height: 64px;
      padding: 23px 16px;
    }

    @media (min-width: map-get($screen, "desktop-big")) {
      grid-template-columns:  50% 20% 15%;
    }
    @media (min-width: 1700px) {
      grid-template-columns: 55% 15% 20%;
    }

    &::before {
      @media (min-width: map-get($screen, "pad")) {
        content: "";
        height: 1px;
        min-width: 90%;
        border-radius: 0px;
        background: #EAEAEA;
        position: absolute;
        margin-right: 24px;
        margin-left: 24px;
        bottom: 0;
      }
    }

    &:last-child::before {
      @media (min-width: map-get($screen, "pad")) {
        display: none;
      }
    }

    &:first-child {
      @media (min-width: map-get($screen, "pad")) {
        border-radius: 6px 6px 0 0;
      }
    }

    &:last-child {
      @media (min-width: map-get($screen, "pad")) {
        border-radius: 0 0 6px 6px;
      }
    }

  }


 &__term{
   justify-self: center;
 }


  &__left{
    @media (min-width: map-get($screen, "pad")){
      margin: 0;
      justify-self: start;
      //margin-right: 20px;
    }

  }

  &__center{
    @media (min-width: map-get($screen, "pad")){
      margin: 0;

      justify-self: start;
      //margin-right: auto;
     // margin-left: auto;
    }

  }

  &__right{
    margin-bottom: 0;

    @media (min-width: map-get($screen, "pad")){
      margin: 0;
     justify-self: start;
    }
  }



  &__order-button {
    position: absolute;
    right: 8px;
    bottom: 16px;

  }

  &__name{
    color: map-get($colors, "grey");
    line-height: 18px;
    letter-spacing: 0;



    @media (min-width: map-get($screen, "pad")) {
      display: none;
    }
  }
  &__swiper-pagination {
    position: relative;
    top: 6px;
  }

}





