.section {
  margin-bottom: 16px;
  //margin-left: 16px;
  z-index: -500;

  @media(min-width: map-get($screen, "pad")) {
   // margin-left: 14px;

  }

  @media(min-width: map-get($screen, "desktop-big")) {
   // margin-left: 32px;

  }


  &__title {
    height: 80px;
    min-width: 320px;
    background: linear-gradient(270deg, map-get($colors, "white") 0%, map-get($colors, "white-grey") 98.61%);
    border-top: 1px solid #D9FFF5;
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 16px;
    padding-left: 16px;
    overflow: hidden;
    color: map-get($colors, "grey");
    text-transform: uppercase;


    @media (min-width: map-get($screen, "pad")) {
      background: linear-gradient(90deg, map-get($colors, "white-grey") 1.39%, map-get($colors, "white") 100%);
      padding: 16px 26px;
      margin-bottom: 14px;
      height: 56px;
      min-width: 768px;
    }
    @media (min-width:  map-get($screen, "desktop-small")) {
      background: linear-gradient(90deg, map-get($colors, "white-grey") 0%, map-get($colors, "white") 98.61%);
      padding: 16px 26px;

    }
    @media (min-width: map-get($screen, "desktop-big")) {

      padding: 16px 45px;

    }
  }


  &__container {
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 16px;


    @media(min-width: map-get($screen, "pad")) {
      margin-left: 14px;
      padding: 10px;
    }

    @media(min-width: map-get($screen, "desktop-big")) {
       margin-left: 32px;

    }





    &::before {
      content: "";
      background: linear-gradient(270deg, map-get($colors, "white") 16.84%, rgba(248, 248, 248, 0.0001) 100%);
      height: 100%;
      width: 24px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;

      @media (min-width: map-get($screen, "pad")) {
        display: none;
      }
    }

  }






  &__footer-info{
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    @media (min-width: map-get($screen, "pad")) {
      margin-left: 26px;
      margin-bottom: 47px;
    }
    @media (min-width: 1400px) {
      margin-bottom: 50px;
      margin-left: 48px;
    }
  }

  &__about-price{
    size: 14px;
    line-height: 20px;
    min-height: auto;
    width: 288px;
    margin-bottom: 16px;

    @media(min-width: map-get($screen, "pad")) {
      min-height: auto;
      width: 621px;

    }


  }

  &__offer{
    font-weight: bold;
    margin-right: 112px;

    @media(min-width: map-get($screen, "pad")) {
      min-height: auto;
      width: auto;
       }
  }

  &__link{
    position: relative;
    cursor: pointer;

    &:after{
      content: "";
      background-image: url("../img/icon/arrow.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 28px;
      right: -27px;
      width: 20px;
      height: 20px;


      @media(max-width: 330px) {
        top: 28px;
        right: -27px;
      }
      @media(mix-width: 360px) {
        top: 30px;
        right: -27px;
      }
      @media(min-width: 443px) {
        top: 5px;
        right: -25px;
      }

    }
  }

}


