.title {
  font-family: 'TT Lakes';
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-left: 16px;

    @media  (min-width: map-get($screen, "pad")){
      padding-left: 24px;
    }

    @media (min-width:  map-get($screen, "desktop-small")) {
      padding-left: 32px;
    }

     &::before{
    content: "";
    background-color: map-get($colors, "teal");
    border: 1px solid map-get($colors, "teal");
    border-radius: 0 4px 4px 0;
    height: 40px;
    width: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
 .title:first-child::before{
  @media (min-width:  map-get($screen, "desktop-small")) {
    height: 40px;
    width: 3px;
    background-color: map-get($colors, "teal");
    border: 1px solid map-get($colors, "teal");
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.title:nth-child(2)::before{
  @media (min-width: map-get($screen, "desktop-big")) {
    height: 40px;
    width: 3px;
    background-color: map-get($colors, "teal");
    border: 1px solid map-get($colors, "teal");
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
  }
}


