$fonts: 'TT Lakes';

$screen: (
  "pad": 768px,
  "desktop-small": 1120px,
  "desktop-big": 1440px,
  "tv": 2560px,
);


$colors: (
  "pink": #ff3e79,
  "teal": #41f6d7,
  "black": #1b1c21,
  "white": #ffffff,
  "white-grey":#f8f8f8,
  "grey": #7e7e82,
  "light-grey": #B5B6BC,
);
